.idea/
*.log
*.pot
*.pyc
__pycache__
__pycache__/
db.sqlite3
imagelabeling/media
venv/*
pyenv.cfg
.DS_Store

# ignore these files so we don't commit them
media/images/UNLABELED/*
media/images/LABELED/*