{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>{% block headingtitle %}Active Learning Project {% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/product/product.css" rel="stylesheet">
    <link href="{% static 'imagelabeling/styles.css' %}"  rel="stylesheet">

    <!-- D3, will move this later -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

  <body>

    <nav class="site-header sticky-top py-1" id="navbar">
        {% block navbar %}
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/post">Create Model</a>
      </div>
        {% endblock %}
    </nav>

    <div class="container-fluid">
      <div class="row">
      {% if ml_model %}
         <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                   <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">

      </h4>
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/model/{{ ml_model.id }}">
                  <span data-feather="home"></span>
                  Model Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/model/{{ ml_model.id }}/upload">
                  <span data-feather="file"></span>
                  Upload Images
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/model/{{ ml_model.id }}/label">
                  <span data-feather="shopping-cart"></span>
                  Label Images
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/model/{{ ml_model.id }}/prob">
                  <span data-feather="users"></span>
                  Model Probability Visualizations
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/model/{{ ml_model.id }}/visualization">
                  <span data-feather="bar-chart-2"></span>
                  Model/User Feedback Visualization
                </a>
              </li>
            </ul>
          </div>
        </nav>
        {% endif %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% block content %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block title %} Title {% endblock %}</h1>

          </div>
        {% endblock %}
        </main>
      </div>
  </div>
</body>
</html>