{%  extends "imagelabeling/base.html" %}

{% block headingtitle %} Bulk upload {% endblock %}

{% block content %}
    <h1 class="h2">Bulk Upload for Model: {{ ml_model.title }}</h1>
    <form id="bulk_upload_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in BulkUploadForm %}
            <br>
            {{ field.label }}: {{ field }}
            <br /><br>
        {% endfor %}
        <input type="submit" name="submit" value="Create Model with provided images" />
    </form>
{% endblock %}