<!DOCTYPE html>
{% block content %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>ROC Curve</title>
</head>
<body>
    <img src ="data:image/png;base64, {{ data }}" alt="" height="500", width="500">
    <img src ="data:image/png;base64, {{ image }}" alt="" height="500", width="500">
    <h4>Would you like to train the model again?</h4>
    <form method="get" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
{%  endblock %}
</html>