{%  extends "imagelabeling/base.html" %}

{% block headingtitle %} Image Labeling Active Learning Tool {% endblock %}
<body>
<div class="container">
    {% block content %}
        <div class="row">
            <h1 class="h2">{% block title %} Choose a Model {% endblock %}</h1>
        </div>
                <div class="row">
        <p><a href="/post">Create a new model &raquo;</a></p>
        </div>
          {% for ml_model in object_list %}
              <div class="row">
                  <h2><a href="/model/{{ml_model.id}}">{{ ml_model.title }}</a></h2>
              </div>
          {% endfor %}
    {% endblock %}
</div>
</body>