{%  extends "imagelabeling/base.html" %}

{% block headingtitle %} Image Labeling Active Learning Tool {% endblock %}
<body>
<div class="container">
    {% block content %}
        <h1 class="h2">{% block title %} Choose a Model {% endblock %}</h1>
        <p><a href="/post">Or create a new model &raquo;</a></p>
        <p><a class="py-2 d-none d-md-inline-block" href="/create-numbers-model">Create Numbers Model</a></p>

        <ul>
          {% for ml_model in object_list %}
              <div class="row">
                  <h2><a href="/model/{{ml_model.id}}">{{ ml_model.title }}</a></h2>
              </div>
          {% endfor %}
        </ul>
    {% endblock %}
</div>
</body>