{%  extends "imagelabeling/base.html" %}

{% block content %}
        <h1>Model: {{ ml_model.title }}</h1>
        <h2>Label The Image either Normal or Abnormal</h2>
         {%  if desired_image %}
             <h2>Image: {{ desired_image.title  }}</h2>
                    <img src="{{ desired_image.image_file.url }}" class="img-fluid">
             <p>Confidence Level (for testing): {{ desired_image.confidence }}</p>
             <p>Adjusted Confidence Level (for ordering, for testing): {{ desired_image.adjusted_confidence }}</p>
        {% endif %}

    <form action="{% url 'vote' desired_image.id %}" method="post">
        {% csrf_token %}
        <input type="radio" name="choice" id="zero_votes" value=0>
        <label for="zero_votes">Abnormal</label><br>
        <input type="radio" name="choice" id="one_votes" value=1>
        <label for="one_votes">Normal</label><br>
        <input type="radio" name="choice" id="unknown_votes" value="Unknown">
        <label for="unknown_votes">Unknown</label><br>
        <input type="submit" value="Vote">
    </form>

{% endblock %}