<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Label the features Numbers</title>
    <div style="black" id="xyz" align="justify">
     <h3>Shape Description of Digit</h3>
     <p>0: Oval<br>1: Stick<br>2: Swan<br>3: Butterfly <br>4: Flag<br>5: Hook<br>6: Combination Clock<br>
         7: Boomerang<br>8: Snowman<br>9: Ballon on a String</p>
    </div>
    <form method = "GET">
    {{ form }}
    <input type = "submit" value = "Submit">
    </form>

</head>
<body>

</body>
</html>