{%  extends "imagelabeling/base.html" %}

{% block content %}
    <h1 class="h2">{{ ml_model.title }}</h1>
    <p>{{ ml_model.classification_notes }}</p>
    <div class="container">
        <h1 class="h2">All uploaded cases</h1>
        <p> <a href = "/model/{{ ml_model.id}}/upload">Upload images to train this model &raquo;</a></p>
        <p> <a href = "/model/{{ ml_model.id}}/label">Label images for this model &raquo;</a></p>
        <ul>
          {% for image in images %}
              <div class="row">
                <h2>{{ image.title }}</h2>
                <img src="{{ image.image_file.url}}" class="img-fluid" alt="{{ image.title }}">
              </div>
          {% endfor %}
        </ul>
    </div>

{% endblock %}