{%  extends "imagelabeling/base.html" %}
{% block content %}
<h1 class="h2">Model: {{ ml_model.title }}</h1>
<div id="my_dataviz"></div>

<div id="model-table"></div>
<script src="https://d3js.org/d3.v4.js"></script>
<script>
let count = 50;
/* load in images information, use d3 */
    data_from_django = {{ images|safe }};
    cm_from_django = {{ cm|safe }};
    ml_model_title = "{{ ml_model.title|safe }}"
    /* widget.init(data_from_django); */

//-----------------------DATA PREPARATION------------------------//
let final_data = [];

// do 100 for now, full data crashes
for (let i = 0; i < 10; i++) {
    let d = data_from_django[i];
    let modified_object = {};
    modified_object.id = d.pk;
    modified_object.model_score = d.fields.model_classification;
    // modified_object.model_probability = d.fields.model_probability;
    modified_object.user_score = d.fields.user_classification;
    modified_object.title= d.fields.title;
    modified_object.pk = d.pk;
    final_data.push(modified_object);
}
console.log(final_data);
console.log("CM")
console.log(cm_from_django)

// create matrix
let userToModelMatrix = [];
for (let i = 0; i < 100; i++) {
    let innerArray = [];
    for (let j = 0; j <  10; j++) {
        innerArray[j] = 0;
    }
    userToModelMatrix[i] = innerArray;
}

// NaN is a number
for (let i = 0; i < final_data.length; i++) {
    let objectToCheck = final_data[i];
    const modelScore = parseInt(objectToCheck.model_score);
    const userScore = parseInt(objectToCheck.user_score);
    if (!isNaN(userScore) && !isNaN(modelScore)) {
        let count = userToModelMatrix[modelScore][userScore];
        count++;
        userToModelMatrix[modelScore][userScore] = count;
    }
}
console.log(userToModelMatrix);


//------------------------SVG PREPARATION------------------------//
/* Referenced the following scatterplot resources:

https://observablehq.com/@d3/scatterplot-matrix
https://bl.ocks.org/Fil/6d9de24b31cb870fed2e6178a120b17d

 */

// set the dimensions and margins of the graph
var margin = {top: 40, right: 40, bottom: 80, left: 40},
  width = 500 - margin.left - margin.right,
  height = 540 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
.append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// Labels of row and columns
var myGroups = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
var myVars = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

// Build X scales and axis:
var x = d3.scaleBand()
  .range([ 0, width ])
  .domain(myGroups)
  .padding(0.01);
svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x))

// text label for the x axis
svg.append("text")
  .attr("transform",
        "translate(" + (width/2 - 10) + " ," +
                       (height + margin.top + 20) + ")")
  .style("text-anchor", "middle")
  .text("Model Classification");

// Build X scales and axis:
var y = d3.scaleBand()
  .range([ height, 0 ])
  .domain(myVars)
  .padding(0.01);
svg.append("g")
  .call(d3.axisLeft(y));

  // text label for the y axis
svg.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 0 - margin.left)
  .attr("x",0 - (height / 2))
  .attr("dy", "1em")
  .style("text-anchor", "middle")
  .text("User Classification");

// Build color scale


let max = 0;
// read the data a different way
d3.csv('../../media/final_data_' + ml_model_title + '_probabilities.csv', function ( response ) {
    console.log(response)

    let coords = []
    let data = response.map(function (item, index) {
        console.log(item)
        let items = Object.entries(item)
        console.log("items")
        console.log(items)
        for (let i = 0; i < 10; i++) {
            let newItem = {};
            newItem.x = index;
            newItem.y = i;
            if (items[i] !== undefined){
                newItem.count = items[i][1]
                if (newItem.count > max) {
                    max = newItem.count
                }
            }
            coords.push(newItem)
        }
    });
    let myColor = d3.scaleLinear()
      .range(["white", "#69b3a2"])
      .domain([0,max])
    console.log(coords)
      svg.selectAll()
      .data(coords, function(d) {return d.count})
      .enter()
      .append("a")
      .attr("xlink:href", function(d){ return "/numbers-model/"+ {{ ml_model.id }} + "/classification/" + d.x + "/user-classification/" + d.y })
      .append("rect")
      .attr("x", function(d) { return x(d.x) })
      .attr("y", function(d) { return y(d.y) })
      .attr("width", 40 )
      .attr("height", 40 )
      .style("fill", function(d) { return myColor(d.count)} )
         .on('mouseover', function(d, i) {
          console.log(d.count);
          // make the mouseover'd element
          // bigger and red
          d3.select(this)
            .transition()
            .duration(100)
        })
        .on('mouseout', function(d, i) {
          console.log("mouseout", this);
          // return the mouseover'd element
          // to being smaller and black
          d3.select(this)
            .transition()
            .duration(100)
        });
    function buildTable() {
        let tableHolder = document.getElementById("model-table");
        let table = document.createElement("table");

        for (let i = 0; i < 10; i++) {
            let tr = document.createElement('tr');
            let td1 = document.createElement('td');
            let td2 = document.createElement('td');

            td1.innerHTML = "Model Classification " + i;
            let link = document.createElement('a');
            link.innerText = "Cases";
            link.href= "/numbers-model/"+ {{ ml_model.id }} + "/classification/" + i;
            td2.appendChild(link);
            tr.appendChild(td1);
            tr.appendChild(td2);
            table.appendChild(tr);
        }
        tableHolder.appendChild(table)
    }
    buildTable()

});



{##}
{#buildVis(cm_from_django)#}


</script>
{%  endblock %}