<h1>Create Model</h1>
<form id="create_model_form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in CreateMachineLearningModelForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in CreateMachineLearningModelForm %}
        <br>
        Model Title: {{ field }}
        <br /><br>
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
        <br>
    {% endfor %}
    <br>


    <input type="submit" name="submit" value="Create Model with provided images" />
</form>